<!DOCTYPE html>
<meta charset="utf-8">
<script src="./d3.v3.min.js"></script>
<head>
   <h1 align="center"><u>XM Markets</u></h1>                                
</head>

<style>
    text {
      font: 10px sans-serif;
    }
    button{
      font: 10px sans-serif;    
    }
</style>

<form method="post" onSubmit="showStock()">
    <input name="stock_field" id="StockSelection"  placeholder="Enter Stock symbol">
    <input name="timeframe_field" placeholder="Enter Time Frame">
    <input type="submit" value="Submit">
</form>

<body>
    <div>
        <p><b>Stock selected : {{StockName}}</b></p>
        <p><b>Timeframe : {{Timeframe}}</b></p>
        {% set data_length = Data["length"] %}
        {% set time = Data["time"] %}
        <p><b>data_length : {{data_length}}</b></p>
        <p><b>time : {{time}}</b></p>
    </div>
    <script> 
    </script>  
</body>
</html>
